RewriteEngine On
DirectoryIndex public/index.php

# Jangan expose /public pada URL.
RewriteRule ^public(?:/|$) - [L]

# Jalankan Laravel dari folder public secara internal.
RewriteRule ^$ public/index.php [L]
RewriteRule ^(.+)$ public/$1 [L]
